* {
  background-color: rgb(250, 251, 253);
  text-align: center;
}

.logo{
  margin:0;
  text-align:center;
  background-color: beige;
  border-radius: 1vw;
  width: 10vw;
  
}

input{
  border-radius: 0.5vw;
  padding: 2px;
  margin: 0.5vw;
}
.eq{
  margin: 0%;
  font-weight: bold;
  font-size: 5rem;
}